<section class="section-about" id="about">
  <div class="container">
    <h2>About <span>me</span></h2>
    <div class="profile-container">
      <img class="about-img" src="./img/img-about.jpg" alt="profile-photo" />
      <div class="profile-container-text">
        <h3>BIO</h3>
        <p class="profile-container-paragraph">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="profile-container-paragraph">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
        <div class="bg-decor"></div>
      </div>
    </div>
    <div class="education-role-container">
      <div class="education">
        <h3>EDUCATION</h3>
        <ul class="educalion-list">
          <li class="education-list-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="education-list-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="education-list-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
      <div class="role">
        <h3>ROLE</h3>
        <ul class="role-list">
          <li class="role-list-item">Frontend development</li>
          <li class="role-list-item">HeadlessCMS, Wordpress</li>
          <li class="role-list-item">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
