<section>
  <div class="container">
    <h2 class="ben-title"><span>Benefits</span> of working with me</h2>
    <ul class="ben-list">
      <li class="ben-item expertise">
        <div class="ben-box-icon">
          <svg class="ben-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-user-01"></use>
          </svg>
        </div>
        <h4>Expertise</h4>
        <p>
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>

      <li class="ben-item communication">
        <div class="ben-box-icon">
          <svg class="ben-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-message-02"></use>
          </svg>
        </div>
        <h4>Communication</h4>
        <p>
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>

      <li class="ben-item art">
        <div class="ben-box-icon">
          <svg class="ben-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-brush-03"></use>
          </svg>
        </div>
        <h4>Art</h4>
        <p>
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>

      <li class="ben-item execution">
        <div class="ben-box-icon">
          <svg class="ben-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-hourglass-04"></use>
          </svg>
        </div>
        <h4>Urgent execution</h4>
        <p>
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
