<section class="faq">
    <div class="container">
<h2 class="faq-title">frequently asked <span>question</span></h2>
<div class="accardion-container">
<ul class="faq-list">
   <li class="faq-list-item">
    <h4 class="faq-item-title">What programming languages ​​are most often used in your project?</h4>
    <svg class="faq-icon-up" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-up"></use>
    </svg>
    <svg class="faq-icon-down" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-down"></use>
    </svg>
    <p class="faq-item-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
   </li>
   <li class="faq-list-item">
    <h4 class="faq-item-title">What are the deadlines for the project?</h4>
    <svg class="faq-icon-up" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-up"></use>
    </svg>
    <svg class="faq-icon-down" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-down"></use>
    </svg>
    <p class="faq-item-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
   </li>
   <li class="faq-list-item">
    <h4 class="faq-item-title">What payment methods do you accept?</h4>
    <svg class="faq-icon-up" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-up"></use>
    </svg>
    <svg class="faq-icon-down" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-down"></use>
    </svg>
    <p class="faq-item-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
   </li>
   <li class="faq-list-item">
    <h4 class="faq-item-title">How can I contact you?</h4>
    <svg class="faq-icon-up" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-up"></use>
    </svg>
    <svg class="faq-icon-down" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-down"></use>
    </svg>
    <p class="faq-item-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
   </li>
   <li class="faq-list-item">
    <h4 class="faq-item-title">Do you provide advice or support?</h4>
    <svg class="faq-icon-up" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-up"></use>
    </svg>
    <svg class="faq-icon-down" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-down"></use>
    </svg>
    <p class="faq-item-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
   </li>
   <li class="faq-list-item">
    <h4 class="faq-item-title">What does the process of developing a software product look like from idea to implementation?</h4>
    <svg class="faq-icon-up" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-up"></use>
    </svg>
    <svg class="faq-icon-down" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-down"></use>
    </svg>
    <p class="faq-item-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
   </li>
</ul>
</div>
</div>
</section>