<footer class="footer">
    <div class="footer-content container">
      <div class="logo-social">
      <div class="logo-footer">
        <h3><a href="./index.html"> LLOYD<span>JEFFERSON.</span></a></h3>
      </div>
      <ul class="social-links">
        <li><a href="https://www.instagram.com/goitclub" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/goit" target="_blank">Facebook</a></li>
        <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/Elijah-Vakulenko/avocado-team" target="_blank">GitHub</a></li>
      </ul>
    </div>
      <div class="texto-footer-diferent">
      <p class="texto-footer-1">© <span id="currentYear"></span>.</p>
      <p class="texto-footer-2">Made by LloydJefferson</p>
      </div>
    </div>
  </footer>
  
  
  
  