<header class="header js-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html"
        >Lloyd<span>Jefferson.</span></a
      >
      <ul class="nav-menu">
        <li><a class="nav-link" href="#about">About me</a></li>
        <li><a class="nav-link" href="#projects">Projects</a></li>
        <li><a class="nav-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <button type="button" class="open-menu-btn">
      <svg class="burg-icon" width="22" height="16">
        <use href="./img/icons.svg#header-burger"></use>
      </svg>
    </button>
  </div>
</header>
