<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html"
        >Lloyd<span>Jefferson.</span></a
      >
      <ul class="nav-menu">
        <li>
          <label class="switch">
            <input type="checkbox" id="switch" />
            <span class="slider round"></span>
          </label>
        </li>
        <li><a class="nav-link" href="#about">About me</a></li>
        <li><a class="nav-link" href="#projects">Projects</a></li>
        <li><a class="nav-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <button type="button" class="open-menu-btn">
      <svg class="burg-icon" width="22" height="16">
        <use href="./img/icons.svg#header-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu">
    <div class="logo-close-btn">
      <a class="logo-header" href="./index.html"
        >Lloyd<span>Jefferson.</span></a
      >
      <button type="button" class="close-menu-btn">
        <svg class="close-menu-icon" width="16" height="16">
          <use href="./img/icons.svg#header-cross"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-menu-nav">
      <ul class="mob-nav-list">
        <li><a class="nav-link" href="#about">About me</a></li>
        <li><a class="nav-link" href="#projects">Projects</a></li>
        <li><a class="nav-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="mob-menu-switcher">
      <label class="switch">
        <input type="checkbox" id="mob-switch" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</header>
