<section class="hero-section">
  <div class="container hero-decor">
    <h1>Hello, I am <span>Fullstack developer</span></h1>
    <button class="order-btn" type="button">
      <svg class="fill-icon" width="28" height="24">
        <use href="./img/icons.svg#icon-arrow"></use></svg
      >Order the project
    </button>
    <p>
      I work with people all over the world to create
      <span>impressive</span> and <span>functional websites</span> that reflect
      each client's unique personality.
    </p>
    <ul class="social-list">
      <li class="soc-list-item">Insragram</li>
      <li class="soc-list-item">Facebook</li>
      <li class="soc-list-item">Linkedin</li>
      <li class="soc-list-item">GitHub</li>
    </ul>
  </div>
</section>
