<section class="hero-section">
  <div class="container hero-decor">
    <h1>Hello, I am <span>Fullstack developer</span></h1>
    <button class="order-btn" type="button">Order the project</button>
    <p>
      I work with people all over the world to create
      <span>impressive</span> and <span>functional websites</span> that reflect
      each client's unique personality.
    </p>
    <ul>
      <li>Insragram</li>
      <li>Facebook</li>
      <li>Linkedin</li>
      <li>GitHub</li>
    </ul>
  </div>
</section>
