<div class="overlay hidden">
  <div class="form-container">
    <div class="modal-btn-div">
      <svg class="btn-close" width="24" height="24">
        <use href="./img/icons.svg#header-cross"></use>
      </svg>
    </div>
    <div>
      <h3 class="modal-header">Thank you for your interest in cooperation!</h3>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
