<section class="projects">
  <h2 class="projects-title">my <span>projects</span></h2>

  <ul class="project-list">
    <li class="project-item">
      <div class="project-thumb">
        <img
          src="../img/my-projects/wallet@1x.jpg"
          alt="Wallet webservice"
          class="project-image"
        />
      </div>

      <div class="project-meta">
        <p class="project-tags">React, JavaScript, Node JS, Git</p>
        <h3 class="project-heading">Wallet webservice</h3>
        <a href="./" class="project-button">VISIT</a>
      </div>
    </li>
  </ul>

  <button type="button" class="load-more-btn">load more</button>
</section>
