<section class="projects">
  <div class="container">
    <h2 class="projects-title">my <span>projects</span></h2>
    <ul class="project-list">
      <li class="project-item">
        <div class="project-thumb">
          <img
            srcset="
              ../img/my-projects/wallet@1x.jpg 1x,
              ../img/my-projects/wallet@2x.jpg 2x
            "
            src="../img/my-projects/wallet@1x.jpg"
            alt="Wallet webservice"
            class="project-image"
          />
        </div>
        <div class="project-meta">
          <p class="project-tags">React, JavaScript, Node JS, Git</p>
          <div class="row">
            <h3 class="project-heading">Wallet webservice</h3>
            <a href="./" class="project-button">
              VISIT
              <svg class="project-button-icon" width="19" height="19">
                <use href="../img/symbol-defs.svg#icon-arrow-up-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="project-item">
        <div class="project-thumb">
          <img
            srcset="
              ../img/my-projects/wallet@1x.jpg 1x,
              ../img/my-projects/wallet@2x.jpg 2x
            "
            src="../img/my-projects/wallet@1x.jpg"
            alt="Wallet webservice"
            class="project-image"
          />
        </div>
        <div class="project-meta">
          <p class="project-tags">React, JavaScript, Node JS, Git</p>
          <div class="row">
            <h3 class="project-heading">Wallet webservice</h3>
            <a href="./" class="project-button">
              VISIT
              <svg class="project-button-icon" width="19" height="19">
                <use href="../img/symbol-defs.svg#icon-arrow-up-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="project-item">
        <div class="project-thumb">
          <img
            srcset="
              ../img/my-projects/wallet@1x.jpg 1x,
              ../img/my-projects/wallet@2x.jpg 2x
            "
            src="../img/my-projects/wallet@1x.jpg"
            alt="Wallet webservice"
            class="project-image"
          />
        </div>
        <div class="project-meta">
          <p class="project-tags">React, JavaScript, Node JS, Git</p>
          <div class="row">
            <h3 class="project-heading">Wallet webservice</h3>
            <a href="./" class="project-button">
              VISIT
              <svg class="project-button-icon" width="19" height="19">
                <use href="../img/symbol-defs.svg#icon-arrow-up-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <button type="button" class="load-more-btn">load more</button>
  </div>
</section>
