<section>
  <div class="container">
    <h2 class="is-hidden">Tech Skills</h2>
    <ul class="tech-skills-list list-rotate">
      <l class="tech-skills-item">
        <h3 class="tech-skills-item-block"><span></span></h3>
      </l>
      <li class="tech-skills-item">
        <h3>HTML/CSS</h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"><span></span></h3>
      </li>
      <li class="tech-skills-item">
        <h3>JavaScript</h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"><span></span></h3>
      </li>
      <li class="tech-skills-item">
        <h3>React</h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"><span></span></h3>
      </li>
      <li class="tech-skills-item">
        <h3>Node. js</h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"><span></span></h3>
      </li>
      <li class="tech-skills-item">
        <h3>React Native</h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"><span></span></h3>
      </li>
      <li class="tech-skills-item">
        <h3>Typescript</h3>
      </li>
    </ul>
    <ul class="tech-skills-list">
      <l class="tech-skills-item">
        <h3 class="tech-skills-item-block"></h3>
      </l>
      <li class="tech-skills-item">
        <h3><span>HTML/CSS</span></h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"></h3>
      </li>
      <li class="tech-skills-item">
        <h3><span>JavaScript</span></h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"></h3>
      </li>
      <li class="tech-skills-item">
        <h3><span>React</span></h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"></h3>
      </li>
      <li class="tech-skills-item">
        <h3><span>Node. js</span></h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"></h3>
      </li>
      <li class="tech-skills-item">
        <h3><span>React Native</span></h3>
      </li>
      <li class="tech-skills-item">
        <h3 class="tech-skills-item-block"></h3>
      </li>
      <li class="tech-skills-item">
        <h3><span>Typescript</span></h3>
      </li>
    </ul>
  </div>
</section>
