<section class="wt-section" id="contacts">
  <div class="container">
    <h2 class="work-together-title">Let’s <span>work together</span></h2>
    <div class="wt-content">
      <h4 class="work-together-subtitle">
        Contact me to transform your ideas into exceptional solutions.
      </h4>
      <address>
        <ul class="contacts">
          <li class="contact-item">
            <svg class="contacts-icons" width="24" height="24">
              <use href="./img/icons.svg#phone"></use>
              </svg>
              <a
              href="tel:+380904567890"
              target="_blank"
              rel="noopener noreferrer"
              >+38 090 456 78 90</a
            >
          </li>
          <li class="contact-item">
            <svg class="contacts-icons" width="24" height="24">
              <use href="./img/icons.svg#letter"></use></svg
            ><a
              href="mailto:lloydjefferson@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="contact-item">
            <svg class="contacts-icons" width="24" height="24">
              <use href="./img/icons.svg#location"></use></svg
            ><a
              href="https://www.google.com/maps/place/New+York,+NY,+USA"
              target="_blank"
              rel="noopener noreferrer"
              >USA, New York</a
            >
          </li>
        </ul>
      </address>
      <form class="form" name="form">
        <div class="form-input">
          <input
            class="email-field"
            name="email"
            id="email"
            type="email"
            placeholder=""
autocomplete="on"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            required
          />
          <label for="email" class="form-inp-label">Your email*</label>
          <svg class="valid-icon" width="16" height="16">
            <use href="./img/icons.svg#success-filled"></use>
          </svg>
          <div class="invalid-message">Invalid email, try again</div>
        </div>
        <div class="form-textarea">
          <textarea
            class="textarea-field"
            name="comment"
            id="message"
            cols="30"
            rows="10"
            placeholder=""
          ></textarea>
          <label for="message" class="form-tx-label">Message</label>
        </div>
        <button class="form-btn" type="submit">Send message</button>
      </form>
    </div>
  </div>
</section>
