.about-img {
  width: 320px;
  height: 374px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.profile-container {
  margin-top: 40px;
}

.profile-container-paragraph {
  padding-bottom: 24px;
}

.profile-container-text h3,
.education h3,
.role h3 {
  margin-bottom: 32px;
}

.educalion-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

.education-list-item {
  display: flex;
  gap: 18px;
}

.role-list,
.educalion-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role-list-item {
  display: flex;
  gap: 18px;
}

.education-list-item::before,
.role-list-item::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #00b068;
  border-radius: 1px;
  border: 1px solid #00b068;
  display: block;
  flex-shrink: 0;
  margin-top: 10px;
}

/* tablet */

@media screen and (min-width: 768px) {
  .about-img {
    width: 336px;
    height: 392px;
    margin-top: 368px;
    margin-bottom: 0;
  }
  .profile-container {
    display: flex;
    gap: 32px;
  }

  .section-about .container {
    background-image: url('../img/decor bg 2.png');
    background-size: 336px 252px;
    background-position: 400px 850px;
    background-repeat: no-repeat;
  }

  .education-role-container {
    margin-top: 60px;
    gap: 32px;
    display: flex;
  }

  .educalion-list {
    margin-bottom: 0;
  }

  .education {
    width: 50%;
  }

  .role {
    width: 50%;
  }
}

/* descktop */

@media screen and (min-width: 1280px) {
  .profile-container {
    gap: 136px;
  }

  .about-img {
    width: 384px;
    height: 448px;
    margin-left: 208px;
  }
  .education-role-container {
    margin-left: 208px;
    gap: 136px;
  }

  .section-about .container {
    background-image: url('../img/decor bg 2.png');
    background-size: 336px 260px;
    background-position: 865px 690px;
    background-repeat: no-repeat;
  }

  .education {
    width: 384px;
  }
}
