

.hero-section {
    background-image: url('../img/header-bg1x.png');
    background-size: 100%;
    background-position: right 14px top 30px;
}


.container.hero-decor h1 {
    padding-top: 96px;
    margin-bottom: 40px;
}

.container.hero-decor p {
    margin-bottom: 72px;
    color: #292929;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.container.hero-decor .order-btn {
    margin-bottom: 40px;
}

.social-list {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 32px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
}

 .social-list::before {
     content: '';
     position: absolute;
     top: 0;
     left: 50%;
     right: 50%;
     transform: translateX(-50%);
     width: 100vw;
     height: 100%;
     background-color:#E4E5E6;
     z-index: -1;
 }

@media screen and (min-width: 360px) {}

@media screen and (min-width: 768px){
    /* .hero-decor {
    background-image: url('../img/decor-bg-4.png');
    background-size: 336px 260px;
    background-position: right top;
    background-repeat: repeat-x;
    } */

    .hero-section {
        background-image: url('../img/decor-bg-5.png');
        background-size: 704px 896px;
        /* background-position: right 14px top 30px; */
        background-repeat: no-repeat;
    }

    .container.hero-decor p {
        color: var(--Black, #292929);
        
            /* Desktop-Tablet/caption */
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 160% */
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-bottom: 80px;
    }

    .container.hero-decor h1 {
        padding-top: 36px;
        padding-bottom: 60px;
        margin-bottom: 0;
    }

    .social-list {
        gap: 40px;
        flex-direction: row;
    }
}