.hero-section {
  padding-top: 16px;
}

.hero-section .container {
  padding-top: 112px;
  background-image: url('../img/hero-mob-up-1x-min.png'),
    url('../img/hero-mob-down-1x-min.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 320px 265px, 170px 130px;
  background-position: right 11px, 142px 483px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section .container {
    background-image: url('../img/hero-mob-up-2x-min.png'),
      url('../img/hero-mob-down-2x-min.png');
  }
}

.desc-img h1 {
  margin-bottom: 40px;
}

.btn-p h4 {
  margin-bottom: 72px;
}

.container .order-btn {
  margin-bottom: 40px;
}

.social-list {
  background-color: #e4e5e6;
  display: flex;
  width: 100%;
  padding: 32px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0;
}

.image-hero {
  display: none;
}

.social-list a {
  color: #292929;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-list a:hover {
  text-decoration: underline;
  color: #00b068;
  transform: scale(1.1);
}

/* ==========================================================TABLET============================================================= */

@media screen and (min-width: 768px) {
  .image-hero {
    display: none;
  }

  .hero-section {
    padding-top: 0px;
  }

  .hero-section .container {
    padding-top: 88px;
    background-image: url('../img/hero-tab-up-1x-min.png'),
      url('../img/hero-tab-down-1x-min.png');
    background-size: 356px 276px, 356px 276px;
    background-position: 380px 16px, 216px 584px;
    background-repeat: no-repeat;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section .container {
      background-image: url('../img/hero-tab-up-2x-min.png'),
        url('../img/hero-tab-down-2x-min.png');
    }
  }

  .btn-p h4 {
    margin-bottom: 80px;
  }

  .hero-section h1 {
    margin-bottom: 60px;
  }

  .social-list {
    gap: 40px;
    flex-direction: row;
    padding: 40px 0;
  }
}

/* =======================================================DESCTOP========================================================== */

@media screen and (min-width: 1280px) {
  .btn-p .order-btn {
    margin-bottom: 0;
  }

  .btn-p {
    display: flex;
    gap: 136px;
  }

  .btn-p h4 {
    width: 592px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .hero-section {
    padding-top: 16px;
  }

  .hero-section .container {
    padding-top: 72px;
    background-image: url('../img/hero-desk-up-1x-min.png'),
      url('../img/hero-desk-down-1x-min.png');
    background-size: 356px 276px, 356px 276px;
    background-position: 892px 18px, 204px 468px;
    background-repeat: no-repeat;
    padding-bottom: 96px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section .container {
      background-image: url('../img/hero-desk-up-2x-min.png'),
        url('../img/hero-desk-down-2x-min.png');
    }
  }

  .desc-img {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    align-items: center;
    margin-bottom: 80px;
  }

  .desc-img h1 {
    margin-bottom: 0;
    width: 552px;
  }

  .image-hero {
    display: block;
    width: 552px;
    /* height: 444px; */
  }

 
}
