/* 
* REVIEW
 */

.review-content {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.review-author {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.reviews-error-message {
  display: none;
  color: red;
  text-align: center;
  margin-top: 20px;
}

.review-title {
  text-align: center;
  margin-bottom: 40px;
}

.review-avatar {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.swiper-slide {
  min-height: 368px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  padding: 32px;
  background-color: #e4e5e6;
  border-radius: 16px;
}

.swiper-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(41, 41, 41, 0.3);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

/* 
* MEDIA QUERIES
 */

@media screen and (min-width: 768px) {
  .swiper-slide {
    min-height: 224px;

  }
}

@media screen and (min-width: 1280px) {
  .swiper-slide {
    min-height: 248px;
  }
}
