*,
*::before,
*::after {
  box-sizing: border-box;
}

.tech-skills {
  min-width: 320px;
  overflow: hidden;
  position: relative;
}

.tech-skills-cover,
.cover-rotate {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.tech-skills-list {
  display: flex;
  gap: 16px;
  padding: 32px 0;
  justify-content: center;
  align-items: center;
  animation: marqueeLeft 10s linear infinite;
}

.cover-rotate .tech-skills-list {
  animation: marqueeRight 10s linear infinite;
}

.tech-skills-item-block {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #292929;
  margin: 8px;
}

.tech-skills-cover {
  background-color: #bcdfd1;
}

.cover-rotate {
  background-color: #e4e5e6;
  transform: rotate(2deg);
  transform-origin: top left;
}

.tech-skills-cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.tech-skills-item:last-child {
  margin-right: 8px;
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

h3 {
  white-space: nowrap;
  flex-shrink: 0;
}

.dark-mode-cover {
  background-color: #214136;
}

.dark-mode-cover-rotate {
  background-color: #2a2d32;
}

.dark-mode-item-block {
  background-color: #f0f0f0;
}

.dark-mode {
  color: #f0f0f0;
}

.block-span {
  background-color: #00b068;
}
