.work-together-subtitle {
  margin-top: 40px;
  margin-bottom: 32px;
}

.wt-section .container {
  padding-top: 0;
}
/* ==========================Contact list============================== */
.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.contact-item {
  display: flex;
  gap: 16px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover {
  color: #00b068;
}

.contacts-icons {
  stroke: #00b068;
  fill: transparent;
}

/* ================================FORM===================================== */

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form .form-input,
.form-textarea {
  outline: transparent;
  position: relative;
}

.form-inp-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transform-origin: center left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(41, 41, 41, 0.4);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e4e5e6 inset !important;
  border: 1px solid none !important;
}

.form .form-input:focus-within .form-inp-label {
  transform: translateY(calc(-50% - 33px));
  color: #00b068;
}

/* ↓ позиціонуємо іконку на інпут та приховуємо її */
.valid-icon {
  fill: #00b068;
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* ↓ якщо значення пошти відповідає паттерну, відкриваємо приховану іконку */
.email-field:valid ~ .valid-icon {
  display: block;
}

/* ↓ створюємо попередження, якщо пошта не проходить валідацію та ховаємо його за замовченням */
.invalid-message {
  display: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #e74a3b;
  margin-top: 5px;
  position: absolute;
  right: 16px;
  top: 100%;
}

/* ↓ якщо не валідна поштова адреса: */
.email-field:required:invalid:not(:placeholder-shown) ~ .invalid-message {
  display: block;
}
/* ↓ змінюємо текст введеної пошти, якщо не валідна */
.email-field:invalid {
  color: #e74a3b;
}

.email-field:not(:placeholder-shown) + .form-inp-label {
  transform: translateY(calc(-50% - 36px)) scale(0.95);
  color: #00b068;
}

/* ↓ якщо щось вже введено в поле, тоді лейбл фіксується вгорі */
.textarea-field:not(:placeholder-shown) + .form-tx-label {
  transform: translateY(calc(-100% - 8px));
  color: #00b068;
}

.form-tx-label {
  position: absolute;
  top: 10px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(41, 41, 41, 0.4);
}

.form-textarea:focus-within .form-tx-label {
  transform: translateY(calc(-100% - 8px));
  color: #00b068;
}

.textarea-field {
  padding-top: 20px;
  resize: none;
}

.form-btn {
  transition: transform 0.3s ease;
}

.form-btn:hover {
  transform: scale(1.02);
}

/* =================================ADAPTATIVE Design============================================== */

@media screen and (min-width: 768px) {
  .wt-section .container {
    padding-top: 124px;
    background-image: url('../img/wt-tab-1x-min.png');
    background-position: 408px 20px;
    background-repeat: no-repeat;
    background-size: 336px 260px;
  }

  @media screen and (min-resolution: 2dppx) {
    .wt-section .container {
      background-image: url('../img/wt-tab-2x-min.png');
    }
  }

  .work-together-subtitle {
    margin: 60px 0;
    width: 488px;
  }

  .contacts {
    margin-bottom: 60px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .wt-section .container {
    background-image: url('../img/wt-tab-1x-min.png');
    background-position: 722px 55px;
    background-repeat: no-repeat;
    background-size: 526px 408px;
    padding-top: 164px;
  }

  @media screen and (min-resolution: 2dppx) {
    .wt-section .container {
      background-image: url('../img/wt-tab-2x-min.png');
    }
  }

  .work-together-title {
    width: 513px;
    height: 248px;
  }

  .work-together-subtitle {
    margin-top: 0;
    margin-bottom: 120px;
    grid-area: subtitle;
  }

  .wt-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'subtitle form'
      'contacts form';
    column-gap: 136px;
    margin-top: 80px;
  }

  .contacts {
    flex-direction: column;
    grid-area: contacts;
    margin-bottom: 0;
  }

  .form {
    grid-area: form;
  }
}
